<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/nav') %>

        <div class="blogs content">
            <h2>404 Page Not Found</h2>
        </div>
    </body>
    <%- include('./partials/foot') %>
</html>
