<html lang="en">
    <%- include('./partials/head') %>

    <body>
        <%- include('./partials/nav') %>

        <div class="about content">
            <h2>About Me</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Velit dignissim sodales ut eu sem integer. Sapien nec sagittis
                aliquam malesuada bibendum arcu vitae elementum. Sed elementum
                tempus egestas sed sed risus. Justo nec ultrices dui sapien
                eget. Commodo sed egestas egestas fringilla phasellus faucibus
                scelerisque eleifend donec. Penatibus et magnis dis parturient
                montes nascetur ridiculus mus. Cursus vitae congue mauris
                rhoncus. Vel risus commodo viverra maecenas. Blandit aliquam
                etiam erat velit scelerisque in dictum. Blandit volutpat
                maecenas volutpat blandit aliquam etiam erat. Mauris nunc congue
                nisi vitae suscipit. Molestie ac feugiat sed lectus vestibulum
                mattis ullamcorper velit sed. Odio facilisis mauris sit amet
                massa vitae tortor condimentum. Ac tortor vitae purus faucibus
                ornare. Mi bibendum neque egestas congue quisque. Magna eget est
                lorem ipsum dolor sit. Id velit ut tortor pretium viverra.
                Cursus risus at ultrices mi tempus imperdiet nulla malesuada.
                Porttitor eget dolor morbi non arcu risus quis varius quam.
            </p>
        </div>
    </body>
    <%- include('./partials/foot') %>
</html>
